{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <div class="card-body">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h2">训练任务记录管理</h1>
                <p class="mb-0">管理历史训练任务，此处获取参数、模型等信息。</p>
            </div>
        </div>
    </div>

    <div style="margin-top:10px;" class="card border-0 shadow mb-4">
        <div class="card-body">
            {#            <div class="table-responsive">#}
            <table class="table table-centered table-nowrap mb-0 rounded" id="ML_tasks-table">
                <thead class="thead-light">
                <tr>
                    <th>任务名称</th>
                    <th>创建时间</th>
                    <th>数据集</th>
                    <th>参数配置文件</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                {% for ML_task in page_obj %}
                    <tr>
                        <td>{{ ML_task.name }}</td>
                        <td>{{ ML_task.uploaded_at }}</td>
                        <td>{{ ML_task.dataset_name }}</td>
                        <td><a href="{% url 'download_field' pk=ML_task.id %}" class="btn btn-primary">Download</a>
                        </td>
                        <td>
                            <form method="get" action="{% url 'instance_del' pk=ML_task.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#            </div>#}
        </div>
    </div>

    <div id="pagination-controls">
        <button class="btn btn-gray-200" onclick="changePage('prev')">上一页</button>
        <span id="current-page">1</span> / <span id="total-pages">1</span>
        <button class="btn btn-gray-200" onclick="changePage('next')">下一页</button>
        跳转到: <input type="number" id="page-input" min="1" onchange="jumpToPage(this.value)">
        <button class="btn btn-sm btn-primary"
                onclick="jumpToPage(document.getElementById('page-input').value)">
            Go
        </button>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {

        });
        let currentPage = 1; // 当前页码
        let totalPages = 1; // 总页数，初始假定为1，将在数据加载后更新
        const itemsPerPage = 10;
        const range = 2; // 当前页前后显示的按钮数

        function renderHead(data) {

            let table = document.getElementById('ML_tasks-table');
            let thead = table.querySelector('thead');
            {#let tbody = table.querySelector('tbody');#}

            thead.innerHTML = ''; // 清空现有的表头
            {#tbody.innerHTML = ''; // 清空现有的表体内容#}

            let headerRow = document.createElement('tr');
            // 添加行号表头
            let thIndex = document.createElement('th');
            thIndex.textContent = '#';
            headerRow.appendChild(thIndex);

            // 基于 JSON 数据的第一行创建表头
            Object.keys(data[0]).forEach(field => {
                let th = document.createElement('th');
                th.textContent = field; // 假设 JSON 的键即字段名
                headerRow.appendChild(th);
            });

            // 将表头行添加到 <thead> 中
            thead.appendChild(headerRow);

        }

        // 渲染分页内容到表格
        function paginateData(data, pageNumber, itemsPerPage) {
            // 计算当前页的数据索引范围
            const startIndex = (pageNumber - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;

            // 获取当前页的数据
            const paginatedItems = data.slice(startIndex, endIndex);

            // 清空表格现有内容
            const tableBody = document.querySelector("#ML_tasks-table tbody");
            tableBody.innerHTML = '';

            // 填充表格当前页的数据
            paginatedItems.forEach((item, index) => {
                let row = tableBody.insertRow();
                // 假设item是对象，其中的键对应列的名称
                let cellIndex = row.insertCell();
                cellIndex.textContent = startIndex + index + 1; // 添加序号

                {#Object.values(item).forEach(text => {#}
                {#    let cell = row.insertCell();#}
                {#    cell.textContent = text; });// 添加文本到单元格#}

                Object.keys(item).forEach((fieldName, cellIndex) => {
                    let cell = row.insertCell(cellIndex);
                    cell.textContent = item[fieldName]; // 添加文本到单元格
                    cell.dataset.fieldName = fieldName; // 用于更新操作
                    makeCellEditable(cell); // 使单元格可编辑
                });

                row.dataset.recordId = item.id; // 假设每个数据项有一个唯一的id
            });
        }

        // 增加页面切换函数
        function changePage(direction) {
            if (direction === 'prev' && currentPage > 1) {
                currentPage--;
            } else if (direction === 'next' && currentPage < totalPages) {
                currentPage++;
            }
            // 更新页面显示的当前页码
            document.getElementById('current-page').textContent = currentPage;
            // 分页数据并更新表格内容
            paginateData(currentPreviewData, currentPage, itemsPerPage);
        }

        // 增加跳转到特定页码的函数
        function jumpToPage(pageNum) {
            const pageNumber = parseInt(pageNum, 10);
            if (pageNumber >= 1 && pageNumber <= totalPages) {
                currentPage = pageNum; // 设置当前页码
                // 更新页面显示的当前页码
                document.getElementById('current-page').textContent = currentPage;
                // 分页数据并更新表格内容
                paginateData(currentPreviewData, currentPage, itemsPerPage);
            }
        }

    </script>
{% endblock content %}
